@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: 7em auto 2rem;
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  header {
    justify-content: space-between;
    position: relative;
  }

  .logo {
    display: flex;
    gap: 0.4rem;
  }

  header img {
    height: 2rem;
    width: 2rem;
  }

  i.fa-bars {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 1.8rem;
    right: 0;
  }

  aside {
    display: none;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }

  aside:hover {
    width: 100%;
  }

  aside li:has(i.fa-close){
    display: block;
  }
}

@media (max-width: 400px) {

}
