svg {
  fill: var(--light-color);
  height: 45px;
  width: 45px;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

svg:hover {
  fill: var(--brand-color);
  height: 74px;
  width: 74px;
  margin: 1.2rem;
}