:root {
  --brand-color: #FF6363;
  --dark-color: #1e293b;
  --mid-color: #b8bfc6;
  --light-color: #ffffff;
  --neon-green-color: #baffb4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "aside main"
    "aside footer";
  grid-template-columns: auto auto; 
  grid-template-rows: calc(100vh - 2rem) 2rem;
  overflow: hidden;
}

aside {
  color: var(--light-color);
  grid-area: aside;
  background-color: var(--brand-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2.5rem;
  min-width: 3rem;
  transition: justify-content 2s ease-in-out, min-width 1s, gap 2s;
}
aside:hover{
  min-width: 20rem;
  justify-content: center;
  gap: 6rem;
}

aside div{
  padding-top: 2rem;
}

aside input[type='range']{
  accent-color: var(--dark-color);
}

aside i{
  cursor: pointer;
}

main{
  grid-area: main;
  min-width: calc(100vw - 3rem);
}

main,footer{
  background-color: var(--dark-color);
  color: var(--light-color);
}

