:root {
  --brand-color: #ff6363;
  --dark-color: #1e293b;
  --mid-color: #b8bfc6;
  --light-color: #ffffff;

  --brand-font:  'Zilla Slab', serif;
  --doc-font: 'Poppins', sans-serif;
  font-family: var(--doc-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "aside main"
    "aside footer";
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 2rem) 2rem;
  overflow: hidden;
}

aside {
  color: var(--light-color);
  grid-area: aside;
  background-color: var(--brand-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2.5rem;
  min-width: 3rem;
  transition: min-width 1s, gap 2s;
}
aside:hover {
  min-width: 20rem;
  justify-content: center;
  gap: 6rem;
}

aside div {
  padding-top: 2rem;
}

aside input[type="range"] {
  accent-color: var(--dark-color);
}

aside i {
  cursor: pointer;
}

main {
  grid-area: main;
  min-width: calc(100vw - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main,
footer {
  background-color: var(--dark-color);
  color: var(--light-color);
}


h1 {
  font-family: var(--brand-font);
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
  background-color: #b8bfc6;
    background-image: linear-gradient(60deg, #b8bfc6, #ff6363);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


footer{
  text-align: center;
  font-family: var(--doc-font);
  font-weight: 300;
}

footer .fa-heart{
  color: var(--brand-color);
}

footer span{
  font-style: italic;
  font-weight: 500;
  color: var(--mid-color);
}
