:root {
  --brand-color: #ff6363;
  --dark-color: #1e293b;
  --mid-color: #b8bfc6;
  --light-color: #ffffff;

  --brand-font:  'Zilla Slab', serif;
  --doc-font: 'Poppins', sans-serif;
  font-family: var(--doc-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-areas: "aside header"
    "aside main"
    "aside footer";
  grid-template-columns: max-content auto;
  grid-template-rows: 7em auto 2rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  
}

aside {
  grid-area: aside;
  height: 100%;
  color: var(--light-color);
  grid-area: aside;
  background-color: var(--brand-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2.5rem;
  transition: min-width 1s, gap 2s;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  width: 4rem;
  transition: all 0.5s;
}
aside:hover{
  width: 12rem;
}

aside .divider {
  width: 90%;
  height: 2px;
  background-color: white;
  margin: 1.2rem 0;
}

aside li{
  list-style: none;
  padding: 1rem 0.7rem;
  cursor: pointer;
}

aside a{
  color: white;
  text-decoration: none;
}

aside input[type="range"] {
  accent-color: var(--dark-color);
}

aside i, aside img{
  margin-right: 1.5rem;
}

aside li:hover i{
  transform: scale(1.4, 1.4); 
}

aside img{
  height: 16px;  
  width: 16px;
}

aside li:hover img{
  transform: scale(1.4, 1.4);
}

aside li:has(i.fa-close){
  display: none;
}

header{
  grid-area: header;
  margin: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  gap: 0.4rem;
}

header img{
  height: 2rem;
  width: 2rem;
}

i.fa-bars{
  display: none;
}

main {
  grid-area: main;
}

footer{
  grid-area: footer;
  text-align: center;
  font-family: var(--doc-font);
  font-weight: 300;
}

footer .fa-heart{
  color: var(--brand-color);
}

footer span{
  font-style: italic;
  font-weight: 500;
  color: var(--mid-color);
}



