svg {
  fill: var(--light-color);
  height: 45px;
  width: 45px;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

svg:hover {
  fill: var(--brand-color);
  transform: scale(1.8, 1.8);
}