:root {
  --brand-color: #ff6363;
  --dark-color: #1e293b;
  --mid-color: #b8bfc6;
  --light-color: #ffffff;

  --brand-font:  'Zilla Slab', serif;
  --doc-font: 'Poppins', sans-serif;
  font-family: var(--doc-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 2.5rem auto 2rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}

aside {
  color: var(--light-color);
  grid-area: aside;
  background-color: var(--brand-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2.5rem;
  min-width: 3rem;
  transition: min-width 1s, gap 2s;

  white-space: nowrap;
}

aside li{
  list-style: none;
  padding: 1.2rem 0.3rem;
  cursor: pointer;
}
aside:hover {
  min-width: 10rem;
  gap: 6rem;
}

aside input[type="range"] {
  accent-color: var(--dark-color);
}

aside i {
  margin-right: 1.5rem;
  
}

aside li:hover i{
  color: var(--mid-color);
  font-size: larger;
}

header{
  grid-area: header;
}

main {
  grid-area: main;
}

footer{
  grid-area: footer;
  text-align: center;
  font-family: var(--doc-font);
  font-weight: 300;
}

footer .fa-heart{
  color: var(--brand-color);
}

footer span{
  font-style: italic;
  font-weight: 500;
  color: var(--mid-color);
}
